.comment-container {
  display: block;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  &__title {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
    &-index {
      font-size: 1.5rem;
      font-weight: bold;
      color: rgba(0, 0, 205, 0.5);
      margin-right: 0.5rem;
    }

    &-name {
      font-size: 1.25rem;
    }
  }

  &__body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}